/* TP réalisé avec GRID */

:root {
  --pagepad: 25px;
  --colorfont: white;
  --colorbg: #1d1d1d;
}

@font-face {
  font-family: font1;
  src: url(fonts/static/Inter-Medium.ttf);
}

* {
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: font1;
  /* background-color: var(--colorbg); */
  color: var(--colorfont);
}

body {
  background-color: var(--colorbg);
}

ul {
  display: grid;
}

/************************* header */

header {
  display: grid;
  grid-template-columns: 50% 50%;
}

header h1 {
  padding: var(--pagepad);
  font-size: 1.5rem;
}

header ul {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
}
header li {
  text-align: center;
}
/************************* main */

main {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.blabla {
  padding: var(--pagepad);
}

.blabla h2 {
  font-size: 5rem;
  font-weight: 400;
}
.blabla h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #464cfd;
}

.blabla p {
  margin-top: 10px;
  text-align: justify;
  font-size: 0.8rem;
}

img {
  width: 100%;
}

/************************* footer */

footer {
  margin: 20px 15px 0 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #0d0d0d;
  border-radius: 10px;
  width: 95%;
}

.coretech {
  min-width: 180px;
}

.coretech h2 {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.coretech a {
  display: block;
  font-size: small;
  padding: 3px;
  background-color: #474cfe;
  border-radius: 5px;
  width: 120px;
  margin: 10px 10px;
  text-align: center;
}

.investors {
  /* width: 60%; */
  background-color: #0d0d0d;
}

.investors img {
  max-height: 50px;
  width: auto;
}

.investors ul {
  grid-template-columns: 1fr 1fr 1fr;
  height: 80%;
  align-items: center;
}
.investors li {
  margin: auto;
}

@media screen and (max-width: 1200px) {
  header {
    display: block;
  }
  header h1 {
    text-align: center;
  }
  header ul {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  main {
    display: block;
  }
  main h2,
  main h3,
  main p {
    text-align: center;
  }
  main p {
    padding: 10px 20%;
  }
  main .image {
    padding: 20px 20%;
  }
}
